// Define variables for your color scheme

// For example:
$red: #EA5556;
$blue: #5AC2C9;
$yellow: #FAD148;
$orange: #F19A71;
$green: #74CF44;
$gray: #303030;
$light-gray: #CCCCCC;
$purple:#7A75FC;
$white:#FFFFFF;
