// Specific CSS for your home-page

.centralize {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-family: "Balsamiq Sans";
  text-align: center;
  justify-content: space-around;
  color: white;
}

.sub-title {
  font-family: "Balsamiq Sans";
  text-align: center;
  color: white;
}

.text-parag {
  font-family: "Balsamiq Sans";
  color: white;
  text-align: center;
  padding: 16px 16px 0px 16px;
}

.btn-round {
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #FAD148;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
}

.btn-round:hover {
  background: #FAD801;
  color: white;
}

.container-bttn-go {
  text-align: center;
}
