// Specific CSS for your home-page
.banner-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $blue;
  padding-top: 10px;
  text-align: center;
  color: $white;
  flex-grow: 1;
}

.banner-home-title {
  margin-bottom: 10px;
  h1 {
    margin-bottom: 50px;
  }
  h3 {
    padding: 0px 20px;
  }
}

.banner-home-icons {
  justify-self: center;
  margin: 60px 0px;
  img {
    width: 75px;
    margin: 5px;
  }
}

.banner-home-text {
  margin-top: 60px;
  width: 80%;
  font-size: 15px;
}
