.index-tasks {
  background-color: $blue;
  padding: 25px;
  flex-grow: 1;
  h1 {
    color: $white;
  }
  h3 {
    color: $white;
  }
}

.tasks {
  max-height: 50vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $yellow;
  padding: 10px;
}
