.card-color {
  background-color: #5AC2C9;
  color: white;
  box-shadow: 5px 5px 10px grey;
}

.card-color2 {
  background-color: #5AC2C9;
  color: white;
  text-decoration: none;
  box-shadow: 5px 5px 10px grey;
}

.card-color-title {
  // background-color: #5AC2C9;
  color: white;
  text-align: center;
}

.fa-star {
  align-self: flex-end;
  width: 100%;
  margin: 0 auto;
  color: #FAD148;
}

.progress-bar {
  text-align: center;
}

.family-member {
  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
  }
}
