.index-goals {
  background-color: $blue;
  padding: 25px;
  flex-grow: 1;
  h1 {
    color: $white;
  }
  h2 {
    color: $white;
  }
}

.goal-type-title {
  svg {
    height: 30px;
    fill: $white;
    margin-right: 5px;
  }
}

.goals {
  max-height: 50vh;
  background-color: $yellow;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
