.index-punishments {
  background-color: $blue;
  padding: 25px;
  flex-grow: 1;
  h1 {
    color: $white;
  }
  h2 {
    color: $white;
  }
}

.punishments {
  max-height: 75vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
  background-color: $yellow;
  padding: 10px;
}
