.index-punishments {
  background-color: $blue;
  padding: 25px;
  flex-grow: 1;
  h1 {
    color: $white;
  }
  h2 {
    color: $white;
  }
}

.punishments {
  max-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $yellow;
  padding: 10px;
}
