.new-task {
    background-color: $blue;
    padding: 25px;
}

.task-form {
    background-color: $yellow;
    padding: 30px;
}

.task-form-content {
    background-color: $white;
    padding: 30px;
    border: 2px;
}
