<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jmschp/piggy-bank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    made with <i class="fas fa-heart"></i> at Piggy Bank
  </div>
</div>
