<div class="banner-login">
  <h3>Você acompanhando seu kiddo nas tarefas e nas conquistas!</h3>
     <div class="banner-login-icons">
      <div class="iconbox">
        <p>
          <i class="fas fa-check-circle"></i>
          <br>
          prazos escolares cumpridos
        </p>
      </div>
      <div class="iconbox">
        <p>
          <i class="fas fa-check-circle"></i><br>
          mesada sem discussões
        </p>
      </div>
      <div class="iconbox">
        <p>
          <i class="fas fa-check-circle"></i>
          <br>
          metas conquistadas
        </p>
      </div>
    </div>
</div>
