<!-- code a container section -->
<div class="banner flexbox py-5">
  <div class="container py-5">
    <h3 style="color:white;">Você acompanhando seu kiddo  nas tarefas e nas conquistas!</h3>
     <div class="d-flex justify-content-between align-self-center">
      <div class="iconbox">
        <i class="fas fa-check-circle"></i>
        <p>prazos escolares cumpridos</p>
      </div>
      <div class="iconbox">
        <i class="fas fa-check-circle"></i>
        <p>mesada sem discussões</p>
      </div>
      <div class="iconbox">
        <i class="fas fa-check-circle"></i>
        <p>metas conquistadas</p>
      </div>
    </div>
  </div>
</div>
