.banner-login {
  background-color: $blue;
  // padding: 150px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  h3 {
    margin: 0;
    text-align: center;
    color: $white;
  }
}

.banner-login-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.iconbox {
  width: 150px;
  text-align: center;
  i {
    background-color: $white;
    border-radius: 100%;
    font-size: 40px;
    color: $yellow;
  }
  p {
    color: $white;
  }
}

.login-form {
  // height: 100vh;
  padding: 50px;
  background-color: $yellow;
}

.login-form-content {
  padding: 30px;
  background-color: $white;
  border-radius: 10px;
  border:4px solid $blue;
}
