.btn-go {
  background-color: $yellow;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 15px;
  border: 5px solid $white;
  border-radius: 50%;
  color: $white;
  transition: 1s;
  &:hover {
  background-color: $green;
  color: $white;
  }
}

.btn-add-kid {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}