.btn-go {
  background-color: $yellow;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border: 5px solid $white;
  border-radius: 50%;
  color: $white;
  transition: 1s;
  &:hover {
    background-color: $green;
    color: $white;
  }
}

.btn-add-kid {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.btn-action {
  background-color: $white;
  color: $purple;
  border: 2px solid $purple;
  border-radius: 48px;
  padding: 3px 5px;
  text-align: center;
}

.btn-action:hover {
  background-color: $purple;
  color: $white;
  border: 2px solid $white;
  border-radius: 48px;
  padding: 3px 5px;
}

.btn-aprove-task {
  height: 100%;
  padding: 30px 15px;
  background-color: $green;
  color: $white;
  text-align: center;
  transition: 1s;
  &:hover {
    background-color: $white;
    color: $green;
  }
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 60px;
}

.toggle {
  position: absolute;
  transform: scale(0);
}

.toggle + label {
  position: relative;
  display: inline-block;
  padding-left: 60px;
}

.toggle + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #CCCCCC;
  border-radius: 50rem;
}

.toggle:checked + label::before {
  background-color: #7A75FC;
}

.toggle + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggle:checked + label::after {
  left: 18px;
}