.card-family-member {
  background-color: $blue;
  width: 100%;
  display: flex;
  justify-content: space;
  flex-wrap: wrap;
}

.card-family-member-info {
  margin: 5px;
  width: 125px;
  text-align: center;
  svg {
    width: 30px;
    fill: $yellow;
  }
}
