.card-filho {
  width: 400px;
  height: 200px;
  background-color: $white;
  padding: 10px 15px 0px;
  border: 5px solid $yellow;
  border-radius: 10px;
}


.card-filho-icons {
  display: flex;
  justify-content: space-between;
  p {
    color: $purple;
  }
}

.card-filho-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-filho-tasks-icon {
  background-color: $red;
  border-radius: 5px;
  padding: 5px;
  color: $black;
  font-size: 45px;
}
.card-filho-calendar-icon {
  background-color: $yellow;
  border-radius: 5px;
  padding: 5px;
  color: $black;
  font-size: 45px;
}

.card-filho-medal-icon {
  background-color: $purple;
  border-radius: 5px;
  padding: 5px;
  color: $yellow;
  font-size: 45px;
}
.card-filho-balance-icon {
  background-color: $orange;
  border-radius: 5px;
  padding: 5px;
  color: $yellow;
  font-size: 45px;
}

.card-filho-target-icon {
  background-color: $green;
  border-radius: 5px;
  padding: 5px;
  color: $red;
  font-size: 45px;
}