.card-goal {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  h5 {
    margin: 0px;
    text-align: center;
  }
}

.card-goal-progress {
  height: 50px;
  position: relative;
  span {
    position: absolute;
    top: 27%;
  }
}

.card-goal-infos {
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  svg {
    height: 25px;
    fill: $yellow;
  }
}
