.card-filho {
  width: 400px;
  height: 200px;
  background-color: $white;
  padding: 10px 15px 0px;
  border: 5px solid $yellow;
  border-radius: 10px;
}


.card-filho-icons {
  display: flex;
  justify-content: space-between;
  p {
    color: $purple;
  }
}

.card-filho-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 55px;
  }
}
