.card-filho {
  width: 400px;
  background-color: $yellow;
  padding: 10px 15px 0px;
  border: 5px solid $white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.card-filho:hover {
  transition: 1s;
  background-color: $white;
  border: 5px solid $yellow;
  svg {
    transition: 1s;
    fill: $yellow;
  }
}

.card-filho-icons {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.card-filho-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  svg {
    fill: $white;
    width: 30px;

  }
  img {
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    margin: auto;
    width: 55px;
  }
  p {
    color: $purple;
  }
}
