<div class="container.fluid index-punishments">
  <div class="row">
    <div class="col-12 col-md-4 mb-5">
      <h1>punições de</h1>
      <div class="card-family-member">
        <% if current_user.admin? %>
          <% @user_family.each do |family_member| %>
            <%= render("shared/card-family-member", family_member: family_member) %>
          <% end %>
        <% else %>
          <%= render("shared/card-family-member", family_member: @user) %>
        <% end %>
      </div>
    </div>

</div>
<div class="col-12 col-md-8">
  <% if @selected_son.present? %>
    <div class="punishments">
      <% @son_punishments.each do |punishment| %>
        <%= render("shared/card-punishment", punishment: punishment, css_class: "mb-4") %>
      <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
