<div class="container.fluid index-punishments">
  <div class="row">

    <div class="col-12 col-md-4 mb-4 text-center">
      <h1>punições de</h1>

      <div class="card-family-member">
        <% if @user.admin? %>
          <% @user_family.each do |family_member| %>
            <%= render("shared/card-family-member", family_member: family_member, url_path: punishments_path(user_son: family_member)) %>
          <% end %>
        <% else %>
          <%= render("shared/card-family-member", family_member: @user, url_path: punishments_path(user_son: @user)) %>
        <% end %>
      </div>
      <%= link_to("nova punição", new_punishment_path, class: "btn-action") if @user.admin? %>

    </div>

    <div class="col-12 col-md-8">
      <% if @selected_son.present? || !current_user.admin? %>
        <div class="punishments">
          <% @son_punishments.each do |punishment| %>
            <%= render("shared/card-punishment", punishment: punishment, css_class: "mb-4") %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
