<div class="container.fluid new-punishment" style="background-color:#7A75FC;">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 form-layout">
      <div class="form-layout-content-2">
        <h3>nova punição</h3>
        <%= render("punishment-form.html", goal: @punishment) %>
      </div>
    </div>
  </div>
</div>
